<h2>Add a Room</h2>

<form method="POST" action="/process-room">
    <label>
        Name:
        <input type="text" name="name" placeholder="Studio Cosy Only 10 minutes from Paris" />
    </label>
    </br>

    <label>
        Description:
        <input type="text" name="description" placeholder="Near metro station Blah" />
    </label>
    <br />


    <label>
        Picture URL:
        <input type="text" name="pictureUrl" placeholder="http://example.com/room.jpg" />
    </label>
    <br />

    <button> Save This Room</button>
</form>