body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

[class$="-message"] {
  border: 1px dashed pink;
  border-radius: 3px;
  color: chartreuse;
  padding: 10px;
  color:aquamarine;
}
